/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
==============================================================
Custom Styles
==============================================================
*/

body {
    background: #F7F7F7;
    background-image: url("../images/IMG_1669.jpg");
    background-repeat: no-repeat;
    background-size: 110%;
    background-position-y: -114px;
    color: #022A47;
    font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
    font-size: 22px;
    font-weight: 500;

}

span {
    color: #022A47;
    font-weight: 500;
}

/*
=======================================================
Navbox
=======================================================
*/

.transparent {
    background: rgba(248, 248, 248, 0.8);
    border-radius: 10px;
    padding-bottom: 20px;
    width: 20%;
    margin-top: 1%;
    margin-left: 5.5%;

}

/*
=======================================================
Links
=======================================================
*/

a {
    color: #022A47;
    font-weight: 500;
    text-decoration: none;
}

a:hover {
    color: #0AAAFF;
}

.logo a {
    border: 3px dotted #0AAAFF;
    color: #04477A;
    border-right: 3px dotted #0AAAFF;
}

.logo a:hover {
    color: #0AAAFF;
    border-top: 3px solid #04477A;
    border-bottom: 3px solid #04477A;
    border-right: 3px solid #04477A;
    border-left: 3px solid #04477A;
}

.about a {
    border-bottom: 2px dotted #0AAAFF;
}

p a {
    border-bottom: 2px dotted #0AAAFF;
}

.about a:hover {
    color: #0AAAFF;
    border-left: 2px solid #0AAAFF;
    border-bottom: 2px solid #04477A;
}

.normal a {
    border-bottom: 2px dotted #0AAAFF;
}

.normal a:hover {
    color: #0AAAFF;
    border-left: 3px solid #0AAAFF;
    border-bottom: 2px solid #04477A;
}

.social a:hover {
    /*box-shadow: 0 2px 0 0 #04477A;*/
    border-bottom: 2px solid #0AAAFF;
}

img {
    width: 35px;
}

/*
==============================================================
Grid
==============================================================
*/

*,
*:before
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    padding-left: 40px;
    padding-right: 40px;
}

div {
    padding-bottom: 14px;
}

/*
==============================================================
Clearfix
==============================================================
*/

.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group:before {
    clear: both;
    *zoom: 1;
}

/*
==============================================================
Primary Header
==============================================================
*/

.logo {
    border-top: 14px solid #0AAAFF;
    border-bottom: 14px solid #0AAAFF;
    margin-right: 40px;
    float: left;
    line-height: 80px;
    font-size: 77px;
    font-weight: 300;
}

.primary-nav {
    font-size: 24px;
    letter-spacing: .5px;
}

/*
==============================================================
Home
==============================================================
*/

.about {
    color: #0AAAFF;
    line-height: 27px;
    font-size: 24px;
}

/*
==============================================================
Navigation
==============================================================
*/

.nav {
    text-align: left;
    padding-top: 8px;
    line-height: 30px;
}

.nav a {

}
